ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}
ul li {
  float: left;
  background: wheat;
  padding: 13px;
  display: inline-block;
  margin: 4px;
  max-width: 300px;
  min-height: 620px;
}
ul li div.poster {
  background: #000;
  height: 430px;
}
ul li div.poster img {
  min-height: 300px;
  width: 100%;
  height: auto;
}
ul li div.title {
  min-height: 100px;
  background: white;
}
